/*

    Team 4   
    GA30003: Assignment 1 (Student Records System)
    November 2019

    Page name:  stylesheet.css

*/

body {
	margin: 0;
}

/* Style the Top Bar */
.topbar {
	
	font-size: 100%;
	font-family: Arial;
	color: white;
	padding: 4px 10px;
	background-color: #4365E2;
}

/* Style the Title Bar */
.titlebar {
	
	font-size: 100%;
	font-family: Arial;
	color: white;
	padding: 4px 10px;
	background-color: #464646;
}

/* Style the Navigation Bar */
.navbar {

	padding: 10px 4px;
    overflow: hidden;
    background-color: #ffffff;
}

/* Style the Navbar Links */
.navbar a {
	
	font-size: 100%;
	font-family: Arial;
    float: left;
    display: block;
	color: #464646;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
	
    color: #458BA0;
}

img {
    float: left;
	clear: left;
	padding: 10px 10px;
}

/* Style the Content division */
.content {
	
	font-size: 100%;
	font-family: Arial;
    background-color: #FFFAF4;
	color: #464646;
    padding: 50px;
    height: 600px;

}

  /* Style the Submit buttons */
  input[type=submit] {
    width: 10%;
    background-color: rgb(102, 132, 243);
    color: black;
    padding: 10px 1px;
    margin: auto;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #458ba0;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/* Style the Footer Division */
.footer {
	
	font-size: 85%;
	font-family: Arial;
    background-color: #EBE9E7;
	color: #464646;
    padding: 10px;
	height: 50px;
	
}