parameters:
    level: 4
    paths:
        - courses
        - courseworks
        - grades
        - students
        - submissions
        - tests
    ignoreErrors:
        - '#^Call to static method run\(\) on an unknown class DB\.$#'